<%- include('./includes/head.ejs', { bodyClass: "edit-pokemon" }) %>

<h1>Here you can put pokemans in the database!</h1>

<form class="form" action="/<%= pokemon ? 'edit-pokemon' : 'add-pokemon' %>" method="POST">
	<fieldset>
		<h2>Basic pokemon information:</h2>
		<div class="form-group">
			<label for="number">Pokemon number:</label>
			<input name="number" type="text" value="<%= pokemon ? pokemon.number : '' %>">
		</div>
		<div class="form-group">
			<label for="pokemon">Pokemon name:</label>
			<input name="pokemon" type="text" value="<%= pokemon ? pokemon.pokemon : '' %>">
		</div>
		<div class="form-group">
			<label for="image">Pokemon image url:</label>
			<input name="image" type="text" value="<%= pokemon ? pokemon.image : '' %>">
		</div>
		<div class="form-group">
			<label for="image_shiny">Pokemon shiny image url:</label>
			<input name="image_shiny" type="text" value="<%= pokemon ? pokemon.image_shiny : '' %>">
		</div>
		<div class="form-row">
			<div class="form-group">
				<label for="primary_type">Primary Pokemon type:</label>
				<%- include('./templates/select.ejs', { name: 'primary_type', options: types, value: pokemon ? pokemon.primary_type : '' }) %>
			</div>
			<div class="form-group">
				<label for="secondary_type">Secondary Pokemon type:</label>
				<%- include('./templates/select.ejs', { name: 'secondary_type', options: types, value: pokemon ? pokemon.secondary_type : '' }) %>
			</div>
		</div>
		<div class="form-group">
			<label for="ability">Pokemon ability(ies):</label>
			<input name="ability" type="text" value="<%= pokemon ? pokemon.ability : '' %>">
		</div>
		<div class="form-group">
			<label for="description">Pokemon description:</label>
			<textarea name="description"><%= pokemon ? pokemon.description : '' %></textarea>
		</div>
	</fieldset>
	<fieldset>
		<h2>Pokemon base statistics:</h2>
		<div class="form-row">
			<div class="form-group">
				<label for="base_hp">Base hp:</label>
				<input name="base_hp" type="number" value="<%= pokemon ? pokemon.base_hp : '' %>">
			</div>
			<div class="form-group">
				<label for="base_att">Base attack:</label>
				<input name="base_att" type="number" value="<%= pokemon ? pokemon.base_att : '' %>">
			</div>
			<div class="form-group">
				<label for="base_def">Base defense:</label>
				<input name="base_def" type="number" value="<%= pokemon ? pokemon.base_def : '' %>">
			</div>
		</div>
		<div class="form-row">
			<div class="form-group">
				<label for="base_spe">Base speed:</label>
				<input name="base_spe" type="number" value="<%= pokemon ? pokemon.base_spe : '' %>">
			</div>
			<div class="form-group">
				<label for="base_spd">Base special defense:</label>
				<input name="base_spd" type="number" value="<%= pokemon ? pokemon.base_spd : '' %>">
			</div>
			<div class="form-group">
				<label for="base_spa">Base special attack:</label>
				<input name="base_spa" type="number" value="<%= pokemon ? pokemon.base_spa : ''  %>">
			</div>
		</div>
	</fieldset>
	<fieldset>
		<h2>Pokemon misc information:</h2>
		<div class="form-row">
			<div class="form-group">
				<label for="egg_group_1">First egg group:</label>
				<%- include('./templates/select.ejs', {name: "first_egg_group", options: eggGroups, value: pokemon ? pokemon.first_egg_group : ''}) %>
			</div>
			<div class="form-group">
				<label for="egg_group_2">Second egg group:</label>
				<%- include('./templates/select.ejs', {name: "second_egg_group", options: eggGroups, value: pokemon ? pokemon.second_egg_group : ''}) %>
			</div>
		</div>
	</fieldset>

	<% if(pokemon) { %>
		<input type="hidden" name="pokemon_number" value="<%= pokemon.number %>">
	<% } %>
	<div class="button-wrapper">
		<button class="btn" type="submit"><%= pokemon? "Edit " + pokemon.pokemon : "Add Pokemon to the database!" %></button>
	</div>
</form>

<%- include('./includes/foot.ejs') %>