<%- include('./includes/head.ejs', { bodyClass: "index" }) %>

<h1>Pokemon overview!</h1>

<div class="pokemon-container">
	<% pokemons.forEach(pokemon => { %>
		<article class="pokemon-tile">
			<strong><a title="<%= pokemon.pokemon %>" href="/pokemon/<%= pokemon.pokemon %>"><%= pokemon.pokemon %></a></strong>
			<img src="<%= pokemon.image %>" alt="<%= pokemon.pokemon %>">
		</article>
	<% }) %>
</div>

<%- include('./includes/foot.ejs') %>